section#about.about
  .flex-column-center

    h2.section-title Обо мне

    .about__wrap

      .about__wrap-img
        img(src="img/author.jpg", alt="Фото атора сайта")

      .about__content

        h3.about__title Меня зовут Александр

        p.about__text
          | Несколько слов обо мне. Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц...
          
        h3.about__address-title Для связи со мной:

        address.about__address

          a(href="tel:+7(904)771-19-16").about_address-contact
            | +7(904) 771-19-16

          a(href="mailto:uzinok@yandex.ru").about_address-contact
            | uzinok@yandex.ru

    a.btn.about__btn.popup-contact(href="#contact", aria-label="прокрутить до раздела контакты") Задать вопрос