section#contact.contact.no-js

  button.close-popup(aria-label="Скрыть окно с формой")

  .flex-column-center.flex-column-center--contact
    
    h2.section-title.contact-title Задайте мне вопрос

    form.order-form(action="#", method="post")

      .input-block

        input.input-inner(type="text", placeholder="Имя", name="nameUser")

        input.input-inner(type="tel", placeholder="Телефон", name="telUser")

        input.input-inner(type="email", placeholder="E-mail", name="emailUser")

      textarea.input-inner.inner-textarea(placeholder="Введите текст", name="textUser")
      div.pos-rel
        .for_textarea

      button.btn.contact__btn
        | отправить