//- миксины 
mixin card(img, title, text)
  
  li.slider__item
    div.slider__img-container
      img(src="img/" + img, alt="#")
    .slider__text-wrap
      h3.slider__title #{title}
      p.slider__text #{text}
      a.slider__link(href="#") подробнее



section#css.css.no-js

  .flex-column-center
    
    h2.section-title css

    ul.sider

      +card("imgSlide-1.jpg", "css", "Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно ")

      +card("imgSlide-2.jpg", "Что такое CSS?", "Формальный язык описания внешнего вида документа, написанного с использованием языка разметки. Преимущественно используется как средство описания, оформления внешнего вида веб-страниц... ")
      
      +card("imgSlide-3.jpg", "svg", "повстречался необходимыми бросил языком дороге маленькая вдали! Агентство дорогу lorem, заглавных диких первую живет?")
