.bdCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background-color: #050818;
  background-image: radial-gradient(at bottom, lighten(#050818, 5%), #050818);
}