.btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #ffff00;
  padding: 0;
  margin:  0;
  box-sizing: border-box;
  height: 50px;
  border-radius: 25px;
  width: 100%;
  max-width: 300px;
  outline: none;

  transition: @transition;
  

  color: @text-color-light;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  font-size: 23px;

  @media (min-width: @min-md) {
    height: 80px;

    line-height: 80px;
    border-radius: 40px;
  }

  @media (min-width: @min-lg) {
    height: 50px;
    border-radius: 25px;
    max-width: 360px;

    line-height: 50px;
  }

  &:hover {
    background-color: #ffff00;
    color: #000;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
  }

  &:focus {
    background-color: #ffff00;
    color: #000;
  }
}