@media (min-width: @min-md) {
  .home__logo {
    width: 165px;
    height: 165px;
  }
}
h1 {
  padding: 7.5vh 0 0;
  margin: 0;

  font-size: 30px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @min-md) {
    padding-top: 11vh;
    font-size: 45px;
    max-width: 370px;
  }

  @media (min-width: 975px)  {
    max-width: none;
    padding-top: 4vh;
  }
}

p {
  padding: 3vh 0 0;
  margin: 0;

  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.home__btn {
  margin-top: 8vh;

  @media (min-width: @min-md) {
    margin-top: 13vh;
  }

  @media (min-width: @min-md) {
    margin-top: 5vh;
  }
}