extends templates/template.pug

block variables
  //- переменная для template.pug
  - var pageTitle = "Записки верстальщика"


block main

  canvas#bdCanvas.bdCanvas

  include templates/header.pug
  
  main
  
    h2 index.html

  include templates/footer.pug
  