extends templates/template.pug

block variables
  //- переменная для template.pug
  - var pageTitle = "Записки верстальщика"


block main

  canvas#bdCanvas.bdCanvas

  include templates/header.pug
  
  main.wrap

    include blocks/home.pug

    include blocks/css.pug

    include blocks/js.pug

    include blocks/about.pug

  include templates/footer.pug
  