body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: @text-color-light;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

  
  background-color: #050818;
  background-image: radial-gradient(at bottom, lighten(#050818, 5%), #050818);

}

img {
  max-width: 100%;
  display: inline-block;
}


.wrap {
  display: block;
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

  @media (min-width: @min-md) {
    padding: 0 20px;
  }

  @media (min-width: @min-lg) {
    padding: 0 20px;
  }
}

// all class

.list-rezet {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    margin: 0;
    padding: 0;
  }
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.pos-rel {
  position: relative;
}

section {
  min-height: 100vh;

  @media (max-height: 500px) {
    height: auto;
  }

}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;

  @media (max-height: 500px) {
    height: auto;
    padding: 50px 0;
  }

}

.section-title {
  font-size: 49px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.no-js {
  min-height: 100vh;
  height: 100%;
  padding: 100px 0 0;

  & .flex-column-center {
    min-height: 100vh;
    height: 100%;
  }
}

// \ all class


